@model List<WebApplication.Models.Produto>

<h2>Lista de Produtos</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
    </tr>
    @foreach (var produto in Model)
    {
        <tr>
            <td>@produto.Id</td>
            <td>@produto.Nome</td>
            <td>@produto.Preco</td>
        </tr>
    }
</table>
